MONGOHQ_URL=mongodb://localhost:27017/unlockphilly
MAPBOX_ID={sign up for mapbox key to at www.mapbox.com}
YELP_CONSUMER_KEY={sign up with yelp for this! needed to get the yelp results working!}
YELP_CONSUMER_SECRET={sign up with yelp for this! needed to get the yelp results working!}
YELP_TOKEN={sign up with yelp for this! needed to get the yelp results working!}
YELP_TOKEN_SECRET={sign up with yelp for this! needed to get the yelp results working!}
MAPQUEST_API_KEY={sign up with mapquest for this! needed to get the geocoding of Yelp results working!}
MAIL_ACTIVE=false
FOURSQUARE_KEY={sign up with foursuare!}
FOURSQUARE_SECRET={sign up with foursquare!}