
<div class="page-header">
  <h1>Our Mission: Make Philadelphia a more accessible city that welcomes and embraces people of all ages and abilities.</h1>
  <h4>Why?</h4>
  <p>
  	Philadelphia is an incredible city with world class food, art, entertainment and job opportunities. However, access is not equal; many of us are locked out of buildings, transit, education and opportunites due to poor access and facilities. We want to change this now.</p>
  <h4>How?</h4>
  <p>
  	We're using open data sets*, crowdsourcing and social media. We map and visualize the information we collect to help us find accessible locations and services. When we spot problems and patterns we talk and <a href='https://twitter.com/unlockphilly/media' target='_blank'>tweet</a> about them to raise visibility and bring about change. We also <a href='http://www.generocity.org/menagerie-coffee-stands-out-as-an-accessible-cafe-in-old-city/' target='_blank'>highlight businesses</a> and organizations that go out of their way to provide fantastic, accessible service. We've had <a href='http://www.tyack.net/2014/03/23/nbc-philadelphia-runs-story-on-transit-app-and-accessibility-following-tweets/' target='_blank'>great success with this strategy</a>.
  </p>
  <h4>Who are we?</h3>
  <p>
  	<ul>
  		<li>Unlockphilly was founded in October 2013 at Apps for Philly Transit by <a href='http://twitter.com/jamestyack'>James Tyack</a>, a software developer and Code for Philly volunteer with a passion for bringing about equality for people of all ages and abilities using open data and technology.</li>
  		<li>The project has grown entirely through collaboration and the strength of volunteers at <a href='http://www.codeforphilly.org'>Code for Philly</a> and <a href='http://www.meetup.com/Girl-Develop-It-Philadelphia/'>Girl Develop It Philadelphia</a>, as well as other local community members and groups including <a href='https://twitter.com/PhilaLink' target='_blank'>Philadelphia Link</a>.
  		<li>Talented volunteer coders, subject matter experts and accessibility advocates contribute to the success of the project. A list of team members and contributors can be found <a href='https://github.com/UnlockedLab/unlockphilly/wiki/Volunteer-contributors' target='_blank'>here</a>.</li>
  	</ul>
  <p>
  <img src="/images/photo/team2_rob_cheetham.png" alt="Unlockphilly team presents at Hack4Access hackathon: Clark Matthews, James Tyack, Chris Alfano, Sheila Waples, Jim Smiley. Photo by Rob Cheetham of Azavea." title="Unlockphilly team presents at Hack4Access hackathon: Clark Matthews, James Tyack, Chris Alfano, Sheila Waples, Jim Smiley. Photo by Rob Cheetham"><br/>
  <caption>Unlockphilly team presents at Hack4Access hackathon, June 2014<br/>
  	Clark Matthews, James Tyack, Chris Alfano, Sheila Waples and Jim Smiley. Photo by <a href='https://twitter.com/rcheetham' target='_blank'>Rob Cheetham</a>.</caption>
 <h4>* Data sources</h4>
  <ul>
  	<li><a href='http://www3.septa.org/hackathon/' target='_blank'>SEPTA API</a> for Stations GTFS data set and real time elevator outages.</li>
  	<li><a href='http://www.yelp.com/developers/documentation' target='_blank'>Yelp API</a> for venues with 'wheelchair accessible' flag</li>
  	<li><a href=''>PATCO</a> station location information (elevator outage data coming soon)</li>
  	<li><a href='http://www3.septa.org/hackathon/' target='_blank'>Mapquest</a> open Geocoding service</li>
  </ul>

 
</div>

