
  <div class="page-header">
    <h1>Our mission: Make Philadelphia a more accessible city that welcomes and embraces people with disabilities.</h1>
  </div>

  <div>
  <h2>Why? <small>Philadelphia is an incredible city with world class food, art, entertainment and job opportunities. However, access is not equal; many of us are locked out of buildings, transit, education and opportunites due to poor access and facilities. We want to change this now.</small></h2>
  </div>
  
  <div>
  <h2>How? <small>We're using open data sets*, crowdsourcing and social media. We map and visualize the information we collect to help us find accessible locations and services. When we spot problems and patterns we talk and <a href='https://twitter.com/unlockphilly/media' target='_blank'>tweet</a> about them to raise visibility and bring about change. We also <a href='http://www.generocity.org/menagerie-coffee-stands-out-as-an-accessible-cafe-in-old-city/' target='_blank'>highlight businesses</a> and organizations that go out of their way to provide fantastic, accessible service. We've had <a href='http://www.tyack.net/2014/03/23/nbc-philadelphia-runs-story-on-transit-app-and-accessibility-following-tweets/' target='_blank'>great success with this strategy</small></a></h2>
  </div>
  
  	<div>
	  <h2>Who are we? <small>Unlockphilly was founded in October 2013 at Apps for Philly Transit and has grown entirely through collaboration and the strength of <a href='https://github.com/UnlockedLab/unlockphilly/wiki/Volunteer-contributors' target='_blank'>volunteers</a> at <a target='_blank' href='https://codeforphilly.org/projects/Unlock_Philadelphia'>Code for Philly</a> and <a href='http://www.meetup.com/Girl-Develop-It-Philadelphia/'>Girl Develop It Philadelphia</a>, as well as other local community members and groups including <a href='https://twitter.com/PhilaLink' target='_blank'>Philadelphia Link</a>.
	    </small>
	  </h2>
	  </div>
	  <p><span class="octicon octicon-chevron-right"> See our <a href='https://github.com/UnlockedLab/unlockphilly/wiki/Volunteer-contributors' target='_blank'>incredible volunteers</a></p>
	  <p><span class="octicon octicon-chevron-right"> Go to our <a target='_blank' href='https://github.com/UnlockedLab/unlockphilly/blob/master/README.md' target='_blank'><span class="octicon octicon-mark-github"> Github/README</span></a></span><br/></p>
	  <p><span class="octicon octicon-chevron-right"> Code for Philly <a target='_blank' href='https://codeforphilly.org/projects/Unlock_Philadelphia'>project page</a></span><br/></p>
	  <p><span class="octicon octicon-chevron-right"> Read more on this <a href='http://www.tyack.net/2014/12/25/civic-hacking-with-impact-mapping-and-crowdsourcing-accessibility-in-philadelphia/'>blog post</a></span><br/></p>
	<br/>
	
  	
  <iframe width="560" height="315" src="//www.youtube.com/embed/atCHI_5_Xnc" frameborder="0" allowfullscreen></iframe>	

  
  <div>
  <h2>* Data sources<small> <a href='http://www3.septa.org/hackathon/' target='_blank'>SEPTA API</a> for Stations GTFS data set and real time elevator outages, 
  	<a href='http://www.yelp.com/developers/documentation' target='_blank'>Yelp API</a> for venues with 'wheelchair accessible' flag, 
  	<a href='http://www.ridepatco.org/schedules/alerts.asp' target='_blank'>PATCO</a> station location information (elevator outage data coming soon), 
  	<a href='http://developer.mapquest.com/web/products/open' target='_blank'>Mapquest</a> open Geocoding service.
  </ul>
  </small>
  </h2>
  </div>
  
  
 
  	


  
