
<div class="page-header">
  <h3>Our Mission: Help make Philadelphia a more accessible city that embraces people of all ages and abilities.</h3>
  <p>
  	Using open data* we map and visualize accessibility to help people find stations and venues.
  </p>
  <p>
  	The project has grown entirely through collaboration and the strength of volunteers at <a href='http://www.codeforphilly.org'>Code for Philly</a> and <a href='http://www.meetup.com/Girl-Develop-It-Philadelphia/'>Girl Develop It Philadelphia</a>, as well as other local community members and groups including <a href='https://twitter.com/PhilaLink' target='_blank'>Philadelphia Link</a>.
    Talented volunteer coders, subject matter experts and accessibility advocates contribute to the success of the project.
  	</ul>
  <p>
 <strong>* Data sources</strong>
  <ul>
  	<li><a href='http://www3.septa.org/hackathon/' target='_blank'>SEPTA API</a> for Stations GTFS data set and real time elevator outages.</li>
  	<li><a href='http://www.yelp.com/developers/documentation' target='_blank'>Yelp API</a> for venues with 'wheelchair accessible' flag</li>
  	<li><a href='http://www.mapquest.cm/hackathon/' target='_blank'>Mapquest</a> open Geocoding service</li>
  </ul>

 
</div>

