<div class="row spacer">
	<row>
		<div class="col-md-9">
			<div id="map"></div>
		</div>

		<div class="col-md-3">

			<div class="panel panel-default yelpPanel">
				<div class="panel-heading panel-title" align='center'>
					<h5 id="yelp-heading">What's accessible nearby?</h5>
					<h6>Leave a review if you visit</h6>
					<a href="http://www.yelp.com"><img src="http://s3-media1.ak.yelpcdn.com/assets/2/www/img/1589098a542f/developers/Powered_By_Yelp_White.png" alt="Powered by Yelp, white" width="115" height="25" /></a>
				</div>
				<div id="yelp-results">
					<!-- start of panel body -->
					<small>
						<ul class='list-group'>
							<li class='list-group-item'>
								<div align='center'>
									Click stations on map to see accessible pubs, shops, restaurants and more
								</div>
							</li>
						</ul> </ul>
				</div><!-- end of panel body containing  yelp search results -->

			</div><!-- end of yelp panel -->

		</div><!-- end of upper right column -->
	</row>
</div><!-- end of top content row containing filters and map -->
