<div class="row spacer">
	<row>
		<script type="application/javascript">
			var mapboxId = '<%= @mapbox_id %>';
		</script>
		<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.3/leaflet.fullscreen.css' rel='stylesheet' />
		<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.24.0/L.Control.Locate.css' rel='stylesheet' />
		<div class="col-md-9" aria-hidden="true">
			<div class="map" id="map"></div>
		</div>
		
		<div class="col-md-3">
			<div class="panel panel-default spacer">
							<div class="panel-body">
								Show/hide stations
								<div class="radio">
									<label>
										<input type="checkbox" name="filterOptions" id="filterWheelchair" value="Wheelchair" checked>
										Wheelchair accessible</label>
								</div>
								<div class="radio">
									<label>
										<input type="checkbox" name="filterOptions" id="filterStairsOnly" value="StairsOnly" checked>
										Not wheelchair accessible</label>
								</div>
							</div>
						</div>
			<div class="panel panel-default yelpPanel">
				<div class="panel-heading panel-title" align='center'>
					<h5 id="yelp-heading">What's accessible nearby?</h5>
		
			<div id="yelp-results">
					<!-- start of panel body -->
					<small>
						<ul class='list-group'>
							<li class='list-group-item'>
								<div align='center'>
									<p>Click stations on map to see accessible bars, shops, restaurants and more</p>
								</div>
							</li>
						</ul>
					</small>
				</div><!-- end of panel body containing  yelp search results -->
			</div><!-- end of yelp panel -->
		</div></div>
		<!--<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4><a href='/parks/independence-national-historical-park-accessibility'>Accessibility Guide for Independence National Historical Park</a> - created for Love Your Park week and #CompleteParks</h4>
				</div>
				<div class="panel-body">
					<a href='/help'><img alt="Accessibility problem? Click here now!" width=100% src="/images/help/access_problem_construct.jpg" /></a>
				</div>
			</div>-->
		<!-- end of upper right column -->
	</row>
</div><!-- end of top content row containing filters and map -->
<row>
					
						<a name="outageStats"></a>
					<p align='center'>Geocoding by <a href="http://www.mapquest.com/" target="_blank">MapQuest Open API</a> <img src="http://developer.mapquest.com/content/osm/mq_logo.png"> | Venues tagged 'wheelchair accessible' fetched from <a href="http://www.yelp.com" target="_blank"><img src="http://s3-media1.fl.yelpcdn.com/assets/2/www/img/14f29ad24935/map/miniMapLogo.png" alt="Yelp logo"/></a></p>
					</row>
					<row>
					<div class="panel panel-default spacer" align='center'>
					<div class="panel-heading panel-title" align='center'>
						<h4>Elevator Outages @ SEPTA Stations (MFL/BSS): Days where elevator outage was reported - totals for last 12 months based on operator alerts*</h5>
							<small>
							<p class='text-left' id="yearlyOutageDaysTotalByStationDescription">Some info about the last 12 months of outages.</p>
							</small>
						<script type="text/javascript" src='/js/allstationsgraph.js'>
			    		</script>
			    	</div>
			    	<div class="panel-body">
						<div id="yearlygraph" aria-hidden="true"></div>	
						<p class='text-left'>* An 'affected outage day' is a day where an elevator outage alert occurred for any period of time.</p>
						<p class='text-left'><a href='/septa/elevator/outageTotalsByStationForLast12Months'>REST API: Total days affected by outages by station over past 12 months.</a>
					</div>
					</div>
					</row>
					
						<row>
							<div class="panel panel-default spacer" align='center'>
								<div class="panel-heading panel-title" align='center'>
									<small>
									<p>
										Using open data and social media we're mapping, tweeting and unlocking accessibility in Philadelphia. Everyone should be able enjoy the great entertainment, food, leisure and job opportunites Philly has to offer and we're here to help. See <a href='about'>about page</a> for more details. Join us at <a target='_blonk' href='http://codeforphilly.org/projects/Unlock_Philadelphia'>Code For Philly</a> or use the comments box to give feedback and help make this site even better.
									</p>
									</small>
								</div>
								<div class="panel-body">
									<a target='_blonk' href='http://codeforphilly.org/projects/Unlock_Philadelphia'><img style="max-width:100px; margin-top: -7px;" src="/images/logo/CfA_logo-300x120.png" alt="Code for Philly logo" title="Code for Philly logo" />
								</div>
							</div>
						</row>
						
						<row>

						
					</row>
