<h4 class="text-center">This is a usability mock-up for internal test purposes</h3>
<h3>Your assessment</h3>

<div style="width:100%;margin-bottom:20px" class="form-inline">

<pre>
<%= @pretty_json %>
</pre>

<pre>
Assessment will be saved for internal testing use only.
</pre>

<div>
	<form id="form-post-reviews" action="/postassessment" method="post" style="float:none; margin: 0 auto;">
	<label for'trialkey'>Trial Key</label><input id='trialkey' size="5" name='trialkey'></input>
	<button type='submit' alt='Agree and submit'>Confirm</button>
	</div>
	</form>

<br>
<br>
<h4><a href='/places'>Search for another place</a></h4>
</div>
