<h3>Your assessment (more readable formatting to follow)</h3>

<div style="width:100%;margin-bottom:20px" class="form-inline">

<pre>
<%= pretty_json %>
</pre>

<pre>
Agreement here
</pre>

<div>
		<label for'trialkey' >Trial Key</label><input id='trialkey' size="5" name='trialkey'></input>
		<button alt='This will be the agree and submit button'>This will be the agree and submit button eventually</button>
	</div>

<br>
<br>
<h4><a href='/places'>Search for another place</a></h4>
</div>
