<h4 class="text-center">Map4Access Trial</h4>
<table class="table table">
  <thead><tr><th>Place Type</th><th>Assessments</th></tr></thead>
  <tbody>
  <% @byTypeHash.sort.map do | key, value | %>
  <tr><td><%= key %></td><td><%= value %></td></tr>
  <% end %>
  <tr><td></td><td><%= @total %></td></tr>
  </tbody>
</table>

