<h3 id="heading">Assessing <%= venue_name %> (<%= venue_type %>)</h3>
<div style="width:100%;margin-bottom:20px" class="form-inline">
	<form id="form-post-reviews" action="/assessment" method="post" style="float:none; margin: 0 auto;">
		<script type="application/javascript">var venueId ='<%= venueid %>';
		</script>
		<div id="venueheader"></div>
		<div style="clear:both"></div>
		<div id="yelp-results">
			<!-- start of panel body -->
			<small>
				<ul class='list-group'>
					<li class='list-group-item'>
						<div>
							<fieldset class='lead'>
								<legend>
									Is the <strong>main entrance</strong> wheelchair accessible? (choose one)
								</legend>
								<input id="yes_entrance" type="radio" name="entrance" value="yes" required/>
								<label for="yes_entrance">Yes, wide with good ramp</label>
								<br>
								<input id="2plus_steps" type="radio" name="entrance" value="2plus_steps"/>
								<label for="2plus_steps">No, there are 2+ steps</label>
								<br>
								<input id="1_step" type="radio" name="entrance" value="1_step"/>
								<label for="1_step">No, there is 1 step</label>
								<br>
								<input id="no_main" type="radio" name="entrance" value="no_other"/>
								<label for="no_main">No for other reason</label>
							</fieldset>
						</div>
					</li>
					<li class='list-group-item'>
						<div>
							<fieldset class='lead'>
								<legend>
									Please describe the <strong>main door</strong> (choose one)
								</legend>
								<input id="wide_light" type="radio" name="door" value="wide_light" required/>
								<label for="wide_light">Wide and light</label>
								<br>
								<input id="too_narrow" type="radio" name="door" value="too_narrow"/>
								<label for="too_narrow">Too Narrow</label>
								<br>
								<input id="heavy_awkward" type="radio" name="door" value="mushrooms"/>
								<label for="heavy_awkward">Heavy and awkward</label>
								<br>
								<input id="na_door" type="radio" name="door" value="mushrooms"/>
								<label for="na_door">N/A</label>
							</fieldset>
						</div>
					</li>
					<li class='list-group-item'>
						<div>
							<fieldset class='lead'>
								<legend>
									If the main entrance is inaccessible, is there <strong>2nd wheelchair accessible entrance</strong>? (choose one)
								</legend>
								<input id="rear" type="radio" name="alt_entrance" value="rear"/>
								<label for="rear">Yes, at the rear</label>
								<br>
								<input id="side" type="radio" name="alt_entrance" value="side"/>
								<label for="side">Yes, at the side</label>
								<br>
								<input id="no_alt" type="radio" name="alt_entrance" value="no"/>
								<label for="no_alt">No way to enter venue</label>
								<br>
								<input id="na_alt" type="radio" name="alt_entrance" value="na"/>
								<label for="na_alt">Alternative not needed</label>
							</fieldset>
						</div>
					</li>
					<li class='list-group-item'>
						<div>
							<fieldset class='lead'>
								<legend>
									Are there clear <strong>accessibility signs</strong> inside/outside? (choose one)
								</legend>
								<input id="yes_with_braille" type="radio" name="signs" value="yes_with_braille" required/>
								<label for="yes_with_braille">Yes</label>
								<br>
								<input id="no_signs" type="radio" name="signs" value="no_signs"/>
								<label for="no_signs">No signs</label>
								<br>
								<input id="ltd_signs" type="radio" name="signs" value="ltd_signs"/>
								<label for="ltd_signs">Limited</label>
							</fieldset>
						</div>
					</li>
					<li class='list-group-item'>
						<div>
							<fieldset class='lead'>
								<legend>
									Are the <strong>restrooms</strong> wheelchair accessible? (choose one)
								</legend>
								<input id="yes_restrooms" type="radio" name="restrooms" value="yes" required/>
								<label for="yes_restrooms">Yes, spacious w/ grab bars</label>
								<br>
								<input id="no_rest_narrow" type="radio" name="restrooms" value="no_narrow"/>
								<label for="no_rest_narrow">No, entrance too narrow</label>
								<br>
								<input id="no_rest_space" type="radio" name="restrooms" value="no_space"/>
								<label for="no_rest_space">No, insufficient space</label>
								<br>
								<input id="no_rest_ava" type="radio" name="restrooms" value="not_ava"/>
								<label for="no_rest_ava">N/A</label>
							</fieldset>
						</div>
					</li>
					<li class='list-group-item'>
						<div>
							<fieldset class='lead'>
								<legend>
									Is the <strong>seating area</strong> wheelchair accessible? (choose one)
								</legend>
								<input id="yes_seating" type="radio" name="seating" value="yes_seating" required/>
								<label for="yes_seating">Yes, correct height</label>
								<br>
								<input id="no_seating" type="radio" name="seating" value="no_seating"/>
								<label for="no_seating">No, not accessible</label>
								<br>
								<input id="na_seating" type="radio" name="seating" value="no_seating"/>
								<label for="na_seating">N/A</label>
							</fieldset>
						</div>
					</li>
					<li class='list-group-item'>
						<div>
							<fieldset class='lead'>
								<legend>
									Please describe the <strong>noise level</strong> (choose one)
								</legend>
								<input id="quiet_noise" type="radio" name="noise" value="quiet_noise" required/>
								<label for="quiet_noise">Quiet</label>
								<br>
								<input id="moderate_noise" type="radio" name="noise" value="moderate_noise"/>
								<label for="moderate_noise">Moderate</label>
								<br>
								<input id="loud_noise" type="radio" name="noise" value="loud_noise"/>
								<label for="loud_noise">Loud</label>
							</fieldset>
						</div>
					</li>
					<li class='list-group-item'>
                        <fieldset class="lead">
							<legend>
								Please select as many of the following items that are available
							</legend>
							<input id="braille_signs" type="checkbox" name="visual" value="braille_signs">
							<label for="braille_signs">Braille signs</label>
							<br>
							<input id="braille_menus" type="checkbox" name="visual" value="braille_signs">
							<label for="braille_menus">Braille menus</label>
							<br>
							<input id="braille_leaflets" type="checkbox" name="visual" value="braille_leaflets">
							<label for="braille_leaflets">Braille leaflets</label>
							<br>
							<input id="tactile_maps" type="checkbox" name="visual" value="tactile_maps">
							<label for="tactile_maps">Tactile maps</label>
							<br>
							<input id="e_audio_guides" type="checkbox" name="visual" value="e_audio_guides">
							<label for="e_audio_guides">Electronic audio guides</label>
						</fieldset>
					</li>				
					<li class='list-group-item'>
						<div align='center'>
							<p>
								<input class="btn btn-primary" type="submit" value="Submit"/>
							</p>
						</div>
					</li>
					
				</ul> </small>
		</div>

		
	</form>
</div>