<div class="page-header">
</div>
<div>
	<row>
		<div class="col-md-10">
			<div>
				<a target='_blank' href='http://potholes.phila.gov/tap.nsf/adaramp'><img alt="No curb cut? Click here to make an ADA Ramp Request" src="/images/park/wash_sq/west_side_no_curb_cut.jpg" /></a>
				<h4>More links/help coming soon!</h4>
			</div>
		</div>
		<div class="col-md-2">
			
		</div><!-- end of upper right column -->
		

	</row>
</div>

</div>
