<div>
        <div class="container">
            <h2>Report Accessibility Problems</h2>
            <p>We have collected links to external sites where you can report and track issues related to accessiblity.</p>
            <div class="row">
                <div class="col-md-4">
                	<div class="thumbnail">
                        <a target='_blank' href='http://potholes.phila.gov/tap.nsf/adaramp'><img alt="No curb cut? Click here to make an ADA Ramp Request" src="/images/park/wash_sq/west_side_no_curb_cut.jpg" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

