<div>
        <div class="container">
            <h2>Report Accessibility Problems</h2>
            <p>We have collected links to external sites where you can report and track issues related to accessibility.</p>
            <div class="row">
                <div class="col-md-4">
                	<div class="thumbnail">
                        <a target='_blank' href='http://potholes.phila.gov/tap.nsf/adaramp'><img alt="No curb cut? Click here to make an ADA Ramp Request" src="/images/help/west_side_no_curb_cut.jpg" /></a>
                    </div>
                </div>
                <div class="col-md-4">
                	<div class="thumbnail">
                        <a target='_blank' href='http://twitter.com/home?status=@septa_social '><img alt="Problem with accessibility tweet septa social" src="/images/help/septa_social.jpg" /></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                	<div class="thumbnail">
                        <a target='_blank' href=''><img alt="" src="" /></a>
                    </div>
                </div>
                <div class="col-md-4">
                	<div class="thumbnail">
                        <a target='_blank' href='http://www3.septa.org/customerservice/'><img alt="General comment or complaint about SEPTA transit?" src="/images/help/septa_comment.jpg" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

