<div class="page-header">
	<h2>N3RD Street Accessibility Survey: Chestnut to Race St (Sunday August 3rd 2014)<br />
		<small>Locations with <span class='glyphicon glyphicon-heart-empty success green' style="color:#a3e46b"></span> markers had ramp at front entrance, or information outside explaining how people using wheelchairs can access the building. 
			Our survey found that just 9 out of 72 store fronts were wheelchair accessible. We also noticed a number of construction projects blocking or disrupting sidewalk access for many people. (More details of N3rd Street, <a href='https://hackpad.com/N3RD-St-Manifesto-Eep0N0sdvby' target='_blank'>here</a>)</small></h2>
</div>

<div class="row spacer">

	<row>

		

		<div class="col-md-6">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" width="677px">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active">
						<img src="/images/n3rdst/n3rdstreetsign.jpg" alt="N3rd Street Sign">
					</div>
					<div class="item">
						<a href='/images/n3rdst/n3rdstreetccessible.jpg' target='_blank'><img src="/images/n3rdst/n3rdstreetccessible.jpg" alt="Only 9 Accessible shop fronts on 3rd Street between Chestnut and Race St out of 72"></a>
					</div>
					<div class="item">
						<a href='/images/n3rdst/n3rdsidewalks.jpg' target='_blank'><img src="/images/n3rdst/n3rdsidewalks.jpg" alt="Pictures of bad construction and blocked sidewalks."></a>
					</div>
					N3rd Street Survey
				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
			</div>
		</div>
		
		<div class="col-md-6">
			<iframe width='100%' height='451px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/jamestyack.j4o5p0ph/attribution,zoompan,zoomwheel.html?access_token=pk.eyJ1IjoiamFtZXN0eWFjayIsImEiOiJkbmNSd2prIn0.BTm2f3y2Bu5hBUt6TQAZ7w'></iframe>
		</div>

	</row>

</div>


<div id="disqus_thread"></div>
						<script type="text/javascript">
							/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
							var disqus_shortname = 'unlockphilly';
							// required: replace example with your forum shortname

							/* * * DON'T EDIT BELOW THIS LINE * * */
							(function() {
								var dsq = document.createElement('script');
								dsq.type = 'text/javascript';
								dsq.async = true;
								dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
								(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
							})();
						</script>
						<noscript>
							Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
						</noscript>
						<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

					</div>