<div class="page-header">
	<h3>Park Accessibility Guides</h3>
</div>
<div>
	<row>
		<div class="col-md-10">
			<div>
				<h3><a href='/parks/independence-national-historical-park-accessibility'>Independence National Historical Park, Philadelphia</a></h3>
				<a href='/parks/independence-national-historical-park-accessibility'><img alt="Pictures of Independence National Historical Park showing Carpenter's Hall ramps and steps" width='50%' src='/images/park/parkmix2.png' /></a>
			</div>
			</div>
		
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-body">
					<a target='_blank' href='http://www.eventbrite.com/e/complete-parks-a-discussion-on-ensuring-our-public-spaces-are-accessible-to-people-of-all-ages-and-tickets-16303757979'><img alt="Complete parks week flyer" width=100% src="/images/logo/complete_parks.jpg" /></a>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body text-center">
					<a target='_blank' href='/about'><img src='/images/logo/codeforphilly1.png'/></a>
				</div>
			</div>
		</div><!-- end of upper right column -->
		

	</row>

</div>
