<div class="page-header">
	<h3>Independence National Historical Park, Philadelphia - Accessibility Guide Prototype - May 2015</h3>
	<div class="a2a_kit a2a_default_style">
	<a class="a2a_dd" href="https://www.addtoany.com/share_save">Share</a>
	<span class="a2a_divider"></span>
	<a class="a2a_button_facebook"></a>
	<a class="a2a_button_twitter"></a>
	<a class="a2a_button_google_plus"></a>
	</div>
	<script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
	<!-- AddToAny END -->
	</div>

<div>

	<row>
		<div class="col-md-4">
			<div class="panel panel-default">
				<img alt="Pictures of Independence National Historical Park showing Carpenter's Hall ramps and steps" width='100%' src='/images/park/parkmix2.png' />
				<div class="panel-body" style="height: 275px;">
					<h4>This page is a prototype that describes and maps both accessibility and inaccessibility at Independence National Historical Park.</p>
					<h4>An accessible description of the map is below.</h4>
					<h4>Please leave comments below to provide feedback, corrections or suggestions for improvement.</h4>
				</div>
			</div>
			</div>
		
		<div class="col-md-6" aria-hidden="true">
			<iframe width='100%' height='450px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/jamestyack.m2pcfd02/attribution,zoompan.html?access_token=pk.eyJ1IjoiamFtZXN0eWFjayIsImEiOiJkbmNSd2prIn0.BTm2f3y2Bu5hBUt6TQAZ7w'></iframe>
		</div>
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-body">
					<a target='_blank' href='http://www.eventbrite.com/e/complete-parks-a-discussion-on-ensuring-our-public-spaces-are-accessible-to-people-of-all-ages-and-tickets-16303757979'><img alt="Complete parks week flyer" width=100% src="/images/logo/complete_parks.jpg" /></a>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body text-center">
					<a target='_blank' href='/about'><img alt='Code for Philly logo' src='/images/logo/codeforphilly1.png'/></a>
				</div>
			</div>
		</div><!-- end of upper right column -->
		

	</row>
	<row>
		<div class="col-md-12">
			<h3>The Park</h3>
			<p>Independence National Historical Park is a United States National Park in Philadelphia that preserves several sites associated with the American Revolution and the nation's founding history. <a target='_blank' href='http://en.wikipedia.org/wiki/Independence_National_Historical_Park'>Wikipedia</a></p>
			<h3>Accessibility</h3>
			<p>
				The National Park Service (NPS) has made efforts to make the buildings and park areas accessible using ramps, open captioning, assistive listening devices and other features. However, there are some areas that are not accessible and require improvements; these are listed below and indicated on the map along with photographs. The nps.gov website groups accessibility features into three web pages with the following titles:-
			</p>
			<ul>
				<li>
					<a target='_blank' href='http://www.nps.gov/inde/planyourvisit/physical-mobility.htm'>Physical/Mobility</a>
				</li>
				<li>
					<a target='_blank' href='http://www.nps.gov/inde/planyourvisit/hearing.htm'>Deaf/Hearing Loss</a>
				</li>
				<li>
					<a target='_blank' href='http://www.nps.gov/inde/planyourvisit/visual.htm'>Blind/Low Vision</a>
				</li>
			</ul>
			<h3>Transit</h3>
			<h4>5th Street SEPTA Station (Market Frankfork Line)</h4>
			<p>NW and SW Corners of Market & 5th</p>
			<p>5th St Station is wheelchair accessible and many accessible SEPTA buses arrive at Independence Mall. See <a target='_blank' href="http://www.unlockphilly.com/">Unlockphilly home page</a> or <a target='_blank' href="http://www.septa.com">SEPTA</a> for more information and elevator status. </p>
			<h3>Amenities</h3>
			<h4>Wheelchair Accessible Restrooms</h4>
			<p>NW Corner of Chestnut & 5th</p>
			<h4>Wheelchair Accessible Cafe</h4>
			<p>Opposite Visitor Center just north of 5th and Market Station north exit</p>
			<h4>City Tavern Restaurant</h4>
			<p>2nd St between Walnut and Chestnut</p>
			<p>Cellar area only is wheelchair accessible. Accessible restrooms also available in the cellar area.</p>
			<h3>Attractions</h3>
			<h4>Independence Visitor Center</h3>
			<p>NE Corner of Market & 6th</p>
			<p>Wheelchair accessible . "Some wheelchairs are available for borrowing at the Independence Visitor Center for use while in the park." See <a target='_blank' href='http://www.nps.gov/inde/planyourvisit/physical-mobility.htm'>NPS website</a></p>
			<h4>Independence Hall</h4>
			<p>South side of Chestnut between 5th and 6th. Tickets must be purchased from visitor center.</p>
			<p>From the National Parks Service website:- "The East Wing orientation room and the first floor of Independence Hall are accessible for those with mobility impairments. There is a photo album showing images of the upper floor for those not able to climb the stairs to the second floor. For those with hearing impairments, the "Birthplace of a Nation" pamphlet provides written information about the rooms shown on the tour. American Sign Language interpretation is available by request. This service is FREE, but you must call 215-597-7130 to arrange for an interpreter at least 14 days prior to your visit." - See <a href="http://www.nps.gov/inde/planyourvisit/independencehall.htm">nps.gov</a> website for more information.</p>
			<h4>Liberty Bell Center</h4>
			<p>SE of Market & 6th</p>
			<p>Wheelchair accessible. See <a target='_blank' href="http://www.nps.gov/inde/planyourvisit/accessibility.htm">nps.gov web page</a> for more information</p>
			<h4>Washington Square</h4>
			<p>Park bordered by Walnut, 6th, S Washington Sq and W Washington Sq</p>
			<p>Park is accessible but there are no curb cuts at all on the West side of the park. People using wheelchairs approaching from Locust Walk must go to North or South entrances.</p>
			<h4>Independence Square</h4>
			<p>Park area south of Independence Hall. Bordered by Chestnut, 5th, Walnut and 6th.</p>
			<p>All sidewalk entrances to East/West/South have multiple steps and no access signs. Independent access to Independence Square very challenging. Also, access limited via North entrance since area is restricted early morning/late afternoon/evening.</p>
			<h4>Rose Garden</h4>
			<p>South side of Locust between 4th and 5th</p>
			<p>Steps prevent wheelchair access through park (between North and South Gates). No ramp available. No signs; people using wheelchairs needs to travel all the way around the block to get to other side of park. There are some areas in the garden that inaccessible due to steps/no ramp.</p>
			<h4>Magnolia Garden</h4>
			<p>South side of Walnut or North Side of Locust between 4th and 5th</p>
			<p>Steps at entrance; inaccessible to wheelchairs, no signs. </p>
			<h4>Second Bank of the United States</h4>
			<p>East of Chestnut and 5th</p>
			<p>Accessible entrance is on the west side of the building.</p>
			<h4>Carpenter's Hall</h4>
			<p>South side of Chestnut between 4th & 5th</p>
			<p>"Carpenters' Hall is wheelchair accessible, however restroom facilities are located on the second floor, reachable only by stairs."</p>
			<h4>5th Street SEPTA Station (Market Frankfork Link)</h4>
			<p>NW and SW Corners of Market & 5th</p>
			<p>Wheelchair accessible. See <a target='_blank' href="http://www.unlockphilly.com/">Unlockphilly home page</a> or <a target='_blank' href="http://www.septa.com">SEPTA</a> for more info and elevator status. </p>
		</div>
	</row>

</div>


<div id="disqus_thread"></div>
						<script type="text/javascript">
							/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
							var disqus_shortname = 'unlockphilly';
							// required: replace example with your forum shortname
							/* * * DON'T EDIT BELOW THIS LINE * * */
							(function() {
								var dsq = document.createElement('script');
								dsq.type = 'text/javascript';
								dsq.async = true;
								dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
								(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
							})();
						</script>
						<noscript>
							Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
						</noscript>
						<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

					</div>