<h3 id="heading">Accessibility Survey of </h3>
<div style="width:100%;margin-bottom:20px" class="form-inline">
	<form action="/reviewsubmit" method="post" style="float:none; margin: 0 auto;">
		<script type="application/javascript">var venueId ='<%= venueid %>';
		</script>
		<div id="venueheader"></div>
		<div style="clear:both"></div>
		<div id="yelp-results">
			<!-- start of panel body -->
			<small>
				<ul class='list-group'>
					<li class='list-group-item'>
						<div>
							<fieldset>
								<legend>
									Is the main entrance wheelchair accessible?
								</legend>
								<input id="yes" type="radio" name="entrance" value="yes"/>
								<label for="yes">Yes, wide with good ramp</label>
								<br>
								<input id="2plus_steps" type="radio" name="entrance" value="2plus_steps"/>
								<label for="2plus_steps">No 2+ steps</label>
								<br>
								<input id="1_step" type="radio" name="entrance" value="1_step"/>
								<label for="1_step">No 1 step</label>
								<input id="no_main" type="radio" name="entrance" value="no_other"/>
								<label for="no_main">No for other reason</label>
							</fieldset>
						</div>
					</li>
					<li class='list-group-item'>
						<div>
							<fieldset>
								<legend>
									Please describe the main door
								</legend>
								<input id="wide_light" type="radio" name="door" value="wide_light"/>
								<label for="wide_light">Wide and light</label>
								<br>
								<input id="too_narrow" type="radio" name="door" value="too_narrow"/>
								<label for="too_narrow">Too Narrow</label>
								<br>
								<input id="heavy_awkward" type="radio" name="door" value="mushrooms"/>
								<label for="heavy_awkward">Heavy and awkward</label>
								<br>
								<input id="na_door" type="radio" name="door" value="mushrooms"/>
								<label for="na_door">Not applicable for this venue</label>
							</fieldset>
						</div>
					</li>
					<li class='list-group-item'>
						<div>
							<fieldset>
								<legend>
									If the main entrance is inaccessible, is there an alternative, fully wheelchair accessible entrance?
								</legend>
								<input id="rear" type="radio" name="alt_entrance" value="rear"/>
								<label for="rear">Yes, at the rear</label>
								<br>
								<input id="side" type="radio" name="alt_entrance" value="side"/>
								<label for="side">Yes, at the side</label>
								<br>
								<input id="no_alt" type="radio" name="alt_entrance" value="no"/>
								<label for="no_alt">No alternative</label>
								<br>
								<input id="na_alt" type="radio" name="alt_entrance" value="na"/>
								<label for="na_alt">Not applicable</label>
							</fieldset>
						</div>
					</li>
					
					<li class='list-group-item'>
						<div align='center'>
							<p>
								<h5>Are there useful signs inside/outside?</h5>
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-default">
									<input type="radio" name="options" id="option2"/>
										Yes w/ braille</label>
									<label class="btn btn-default">
									<input type="radio" name="options" id="option2"/>
										No</label>
									<label class="btn btn-default">
									<input type="radio" name="options" id="option2"/>
										Limited</label>
								</div>
							</p>
						</div>
					</li>
					<li class='list-group-item'>
						<div align='center'>
							<p>
								<h5>Are the restrooms wheelchair accessible?</h5>
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2" checked>
										Yes</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2">
										No</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option3">
										Limited</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option3">
										N/A</label>
								</div>
							</p>
						</div>
					</li>
					<li class='list-group-item'>
						<div align='center'>
							<p>
								<h5>Is the seating area wheelchair accessible?</h5>
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2">
										Yes</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2">
										No</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2">
										Limited</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2">
										N/A</label>
								</div>
							</p>
						</div>
					</li>
					<li class='list-group-item'>
						<div align='center'>
							<p>
								<h5>Is there accommodation for blind and visually impaired people? (e.g. braille menus, guide dog friendly, easy to navigate with no unnecessary obstacles)</h5>
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2" checked>
										Yes</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2">
										No</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option3">
										Limited</label>
								</div>
							</p>
						</div>
					</li>
					<li class='list-group-item'>
						<div align='center'>
							<p>
								<h5>Please describe the noise level</h5>
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2" checked>
										Quiet</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2">
										Moderate</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option3">
										Loud</label>
								</div>
							</p>
						</div>
					</li>
					<li class='list-group-item'>
						<div align='center'>
							<p>
								<input class="btn btn-primary" type="submit" value="Submit Review"/>
							</p>
						</div>
					</li>
					
				</ul> </small>
		</div>

		
	</form>
</div>