<h1 id="heading">Post Review: </h1>

<div style="width:100%;margin-bottom:20px" class="form-inline">
    <form class="col-md-6" style="float:none; margin: 0 auto;text-align:center">
        <script type="application/javascript">var venueId = '<%= venueid %>';</script>
        <div id="venueheader" style="text-align:center"></div>
        <div style="clear:both"></div>                
        <br />
        <h4>Question 1</h4>
        <label class="radio-inline">
          <input type="radio" name="q1" id="q1yes" value="Yes"> Yes
        </label>
        <label class="radio-inline">
          <input type="radio" name="q1" id="q1no" value="No"> No
        </label>
        <div style="clear:both"></div>               
        <br />
        
        <h4>Question 2</h4>
        <label class="radio-inline">
          <input type="radio" name="q2" id="q2yes" value="Yes"> Yes
        </label>
        <label class="radio-inline">
          <input type="radio" name="q2" id="q2no" value="No"> No
        </label>
        <div style="clear:both"></div>               
        <br />
        
        <h4>Question 3</h4>
        <label class="radio-inline">
          <input type="radio" name="q3" id="q3yes" value="Yes"> Yes
        </label>
        <label class="radio-inline">
          <input type="radio" name="q3" id="q3no" value="No"> No
        </label>
        <div style="clear:both"></div>  
        <br />
        
        <input class="btn btn-primary" type="submit" value="Submit Review"/>
    </form>
</div>