<h3 id="heading">Accessibility Survey of </h3>
<div style="width:100%;margin-bottom:20px" class="form-inline">
	<form action="/reviewsubmit" method="post" style="float:none; margin: 0 auto;">
		<script type="application/javascript">var venueId ='<%= venueid %>';
		</script>
		<div id="venueheader"></div>
		<div style="clear:both"></div>
		<div id="yelp-results">
			<!-- start of panel body -->
			<small>
				<ul class='list-group'>
					<li class='list-group-item'>
						<div align='center'>
							<p>
								<h5>Is the main entrance wheelchair accessible?</h5>
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2">
										Yes</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2">
										No, 2+ steps</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option3">
										No, 1 step</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option3">
										No, narrow</label>
								</div>
							</p>
						</div>
					</li>
					<li class='list-group-item'>
						<div align='center'>
							<p>
								<h5>If no, is there an alternative, fully wheelchair accessible entrance?</h5>
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2">
										At the rear</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2">
										At the side</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option3">
										No</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2">
										N/A</label>
								</div>
							</p>
						</div>
					</li>
					<li class='list-group-item'>
						<div align='center'>
							<p>
								<h5>Are there useful signs inside/outside?</h5>
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-default">
									<input type="radio" name="options" id="option2">
										Yes w/ braille</label>
									<label class="btn btn-default">
									<input type="radio" name="options" id="option2">
										No</label>
									<label class="btn btn-default">
									<input type="radio" name="options" id="option2">
										Limited</label>
								</div>
							</p>
						</div>
					</li>
					<li class='list-group-item'>
						<div align='center'>
							<p>
								<h5>Are the restrooms wheelchair accessible?</h5>
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2" checked>
										Yes</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2">
										No</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option3">
										Limited</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option3">
										N/A</label>
								</div>
							</p>
						</div>
					</li>
					<li class='list-group-item'>
						<div align='center'>
							<p>
								<h5>Is seating area wheelchair accessible?</h5>
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2">
										Yes</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2">
										No</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2">
										Limited</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2">
										N/A</label>
								</div>
							</p>
						</div>
					</li>
					<li class='list-group-item'>
						<div align='center'>
							<p>
								<h5>Is there accommodation for blind and visually impaired people?</h5>
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2" checked>
										Yes</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2">
										No</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option3">
										Limited</label>
								</div>
							</p>
						</div>
					</li>
					<li class='list-group-item'>
						<div align='center'>
							<p>
								<h5>How is the noise Level?</h5>
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2" checked>
										Quiet </label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2">
										Medium</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option3">
										Loud</label>
								</div>
							</p>
						</div>
					</li>
					<li class='list-group-item'>
						<div align='center'>
							<p>
								<input class="btn btn-primary" type="submit" value="Submit Review"/>
							</p>
						</div>
					</li>
					
				</ul> </small>
		</div>

		
	</form>
</div>