<h3 id="heading">Accessibility Survey of </h3>
<div style="width:100%;margin-bottom:20px" class="form-inline">
	<form action="/reviewsubmit" method="post" style="float:none; margin: 0 auto;">
		<script type="application/javascript">var venueId ='<%= venueid %>';
		</script>
		<div id="venueheader"></div>
		<div style="clear:both"></div>
		<div id="yelp-results">
			<!-- start of panel body -->
			<small>
				<ul class='list-group'>
					<li class='list-group-item'>
						<div align='center'>
							<p>
								<h5>Main Entrance wheelchair accessible?</h5>
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2" checked>
										2+ steps</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2">
										Narrow</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option3">
										1 step</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option3">
										Accessible</label>
								</div>
							</p>
						</div>
					</li>
					<li class='list-group-item'>
						<div align='center'>
							<p>
								<h5>Alternative fully wheelchair accessible entrance?</h5>
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2" checked>
										None </label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2">
										At the rear</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option3">
										At the side</label>
								</div>
							</p>
						</div>
					</li>
					<li class='list-group-item'>
						<div align='center'>
							<p>
								<h5>Independent access from outside?</h5>
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-default">
									<input type="radio" name="options" id="option2" checked>
										No</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2">
										Must Phone</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option3">
										Signs w/ Braille</label>
								</div>
							</p>
						</div>
					</li>
					<li class='list-group-item'>
						<div align='center'>
							<p>
								<h5>Restrooms wheelchair accessible?</h5>
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2" checked>
										None </label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2">
										Poor</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option3">
										Limited</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option3">
										Accessible</label>
								</div>
							</p>
						</div>
					</li>
					<li class='list-group-item'>
						<div align='center'>
							<p>
								<h5>Seating Area wheelchair accessible?</h5>
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2" checked>
										None </label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2">
										Poor</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option3">
										Limited</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option3">
										Accessible</label>
								</div>
							</p>
						</div>
					</li>
					<li class='list-group-item'>
						<div align='center'>
							<p>
								<h5>Features for blind and visually impaired people?</h5>
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2" checked>
										Poor </label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2">
										Limited</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option3">
										Good</label>
								</div>
							</p>
						</div>
					</li>
					<li class='list-group-item'>
						<div align='center'>
							<p>
								<h5>Noise Level?</h5>
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2" checked>
										Loud </label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option2">
										Medium</label>
									<label class="btn btn-default">
										<input type="radio" name="options" id="option3">
										Quiet</label>
								</div>
							</p>
						</div>
					</li>
					<li class='list-group-item'>
						<div align='center'>
							<p>
								<input class="btn btn-primary" type="submit" value="Submit Review"/>
							</p>
						</div>
					</li>
					
				</ul> </small>
		</div>

		
	</form>
</div>