<h3>Review venue accessibility</h3>

<div class="col-md-3">

	<div class="panel panel-default yelpPanel">
		<div class="panel-heading panel-title" align='center'>
			<h5 id="yelp-heading">
			<button class="btn btn-default" style="width:32%;float:left" onclick="showlocation('nearby');">Near Me</button>
			<button type="button" id="loading-example-btn" data-loading-text="Loading..." class="btn btn-primary">
				Find Venues Nearby
			</button><div class="input-group"></div></h5>
		</div>
		<div id="yelp-results">
			<!-- start of panel body -->
			<small>
				<ul class='list-group'>
					<li class='list-group-item'>
						<div align='center'>
							<p></p>
						</div>
					</li>
				</ul> </small>
		</div><!-- end of panel body containing  yelp search results -->

	</div><!-- end of venues panel -->

</div>
</div>
