<h3>Find and review places</h3>

<div style="width:100%;margin-bottom:20px" class="form-inline">
    <div class="col-xs-12 col-sm-6 col-md-6" style="margin:0 auto; float:none">
        <div>
            <button class="btn btn-default" style="width:32%;float:left" onclick="showlocation('search');">Near Me</button>
            <div class="input-group" style="width:68%; padding-left:10px">
                <div class="input-group-addon">or at</div>
                <input type="text" class="form-control" placeholder="Location" id="searchquery" onkeyup="if(window.event.keyCode == 13) showlocation('search');">
            </div>
            <div style="clear:both"></div>
            <br />
            <div id="loadingImage" style="display:none">
                <img src = "/images/ajax-loader.gif" />
            </div>
        </div>
        
        <div style="clear:both"></div>
        <div class="results"></div>        
    </div>
</div>