<h1>Prototype Google Maps Accessible Route Checker - Hack4Access Hackathon 2014</h1>
<h3>Only available on desktop version of website. This is just a prototype. We hope to develop this concept further. When given valid from/to points the app suggests whether Google route planner supplies an accessible or inaccessible route. Prototyped by <a href='https://twitter.com/jimRsmiley'>@jimRsmiley</</a></h3>
<iframe src="http://nowheelchair.jimsmiley.us" width="1200" height="500"></iframe