<div class="modal-header">
	<h4 class="modal-title" id="myModalLabel"><% if station!=nil %><%= station['stop_name'] %><% end %></h4>
</div>
<div class="modal-body">
	<h2><% if station!=nil %><%= station['stop_name'] %><% end %></h2>
	<h5>Elevator outage history</h5>
	<ul>
		<% outageHistory.each do | outage | %>
			<li>
				From <%= outage['_id']['outageStart'] %> to <% if outage['outageEnd'] == nil %>now<% else %><%= outage['outageEnd'] %><% end %>
			</li>
		<% end %>
	</ul>
</div>