<!DOCTYPE html>
<html>
	<head>
		<title>Unlock Philly - Mapping accessible stations, pubs, restaurants, shops, museums and more in Philadelphia</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Mapping wheelchair accessible stations, pubs, restaurants, shops and more in Philadelphia">
		<meta name="keywords" content="accessibility, accessible, wheelchair, disability, disabilities, stations, SEPTA, transit, pubs, restaruants, cafes">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
		<link href="css/unlock-philadelphia.css" rel="stylesheet" />
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
		<![endif]-->
		<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />
		<!--[if lte IE 8]>
		<link rel="stylesheet" href="css/leaflet.ie.css" />
		<![endif]-->

	</head>
	<body>
		<div id="wrap">

			<!-- Fixed navbar -->
			<div class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" rel="home" href="#" title="ReposWatch"><img style="max-width:200px; margin-top: -7px;" src="images/logo/unlockphilly_50.png" alt="Unlock_Philly logo" title="Unlock Philly Logo"></a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li>
								<a>Accessible stations and services</a>
							</li>
							<li>
								<a href="http://tyack.net/2013/10/08/transit-apps-for-philly-hackathon-2013-unlocking-philadelphia/" target='_blank'>Blog</a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Media<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>
										<a href='http://www.nbcphiladelphia.com/news/local/Elevating-Accessibility-on-Mass-Transit-250853021.html' target='_blank'>NBC Philadelphia article: Elevating Accessiblity on Mass Transit</a>
									</li>
									<li>
										<a href="https://technical.ly/philly/2014/03/25/septa-wheelchair-accessible-app/" target='_blank'>Technical.ly Philly story</a>
									</li>
								</ul>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Links<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>
										<a href="http://www.septa.org/access/" target='_blank'>Accessible SEPTA</a>
									</li>
									<li>
										<a href='http://www2.septa.org/elevators/' target='_blank'>Elevator Outages SEPTA</a>
									</li>
									<li>
										<a href="http://www.libertyresources.org" target='_blank'>Liberty Resources</a>
									</li>
									<li>
										<a href="http://www.septa.org/access/vis-impaired.html" target='_blank'>Info for visually impaired customers</a>
									</li>
								</ul>
							</li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>

			<!-- Begin page content -->
			<div class="container">
				<div class="row spacer">
					<row>
						<div class="col-md-9">
							<div id="map"></div>
						</div>

						<div class="col-md-3">

							<div class="panel panel-default yelpPanel">
								<div class="panel-heading panel-title" align='center'>
									<h5 id="yelp-heading">What's accessible nearby?</h5>
									<a href="http://www.yelp.com"><img src="http://s3-media1.ak.yelpcdn.com/assets/2/www/img/1589098a542f/developers/Powered_By_Yelp_White.png" alt="Powered by Yelp, white" width="115" height="25" /></a>
								</div>
								<div id="yelp-results">
									<!-- start of panel body -->
									<small>
										<ul class='list-group'>
											<li class='list-group-item'>
												<div align='center'>
													Click stations on map to see accessible pubs, shops, restaurants and more here
												</div>
											</li>
										</ul> </ul>
								</div><!-- end of panel body containing  yelp search results -->

							</div><!-- end of yelp panel -->

						</div><!-- end of upper right column -->
				</div><!-- end of top content row containing filters and ma -->

				<row>
					<div class="col-md-6">

						<div class="panel panel-default" align='center'>
							<div class="panel-heading panel-title" align='center'>
								<a href='http://www.tyack.net/2014/03/23/nbc-philadelphia-runs-story-on-transit-app-and-accessibility-following-tweets/' target='_blank'><img align='left' src='/images/media/outage.png'></img></a>
								If you notice an accessibility problem, Tweet! Septa, PATCO and other groups <a href='http://www.tyack.net/2014/03/23/nbc-philadelphia-runs-story-on-transit-app-and-accessibility-following-tweets/' target='_blank'>are watching and will retweet and fix things, see this article</a>
								<br />
								<a href="https://twitter.com/intent/tweet?screen_name=septa_social&text=%23accessibility" class="twitter-mention-button spacer-small">Tweet @septa</a>
								<script>
									! function(d, s, id) {
										var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
										if (!d.getElementById(id)) {
											js = d.createElement(s);
											js.id = id;
											js.src = p + '://platform.twitter.com/widgets.js';
											fjs.parentNode.insertBefore(js, fjs);
										}
									}(document, 'script', 'twitter-wjs');
								</script>
								<a href="https://twitter.com/intent/tweet?screen_name=RidePATCO&text=%23accessibility" class="twitter-mention-button">Tweet to @RidePATCO</a>
								<script>
									! function(d, s, id) {
										var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
										if (!d.getElementById(id)) {
											js = d.createElement(s);
											js.id = id;
											js.src = p + '://platform.twitter.com/widgets.js';
											fjs.parentNode.insertBefore(js, fjs);
										}
									}(document, 'script', 'twitter-wjs');
								</script>
							</div>
						</div>
						<!-- <div align='center'>

						<a class="twitter-timeline" href="https://twitter.com/search?q=%40septa_social" data-widget-id="454994492483842048">Tweets about "@septa_social"</a>
						<script>
						! function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
						if (!d.getElementById(id)) {
						js = d.createElement(s);
						js.id = id;
						js.src = p + "://platform.twitter.com/widgets.js";
						fjs.parentNode.insertBefore(js, fjs);
						}
						}(document, "script", "twitter-wjs");
						</script>

						</div> -->
					</div>
					<div class="col-md-6">

						<div id="disqus_thread"></div>
						<script type="text/javascript">
							/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
							var disqus_shortname = 'unlockphilly';
							// required: replace example with your forum shortname

							/* * * DON'T EDIT BELOW THIS LINE * * */
							(function() {
								var dsq = document.createElement('script');
								dsq.type = 'text/javascript';
								dsq.async = true;
								dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
								(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
							})();
						</script>
						<noscript>
							Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
						</noscript>
						<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

					</div>
					</rom>

					<!-- Placed at the end of the document so the pages load faster -->
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
					<!-- Latest compiled and minified JavaScript -->
					<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
					<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
					<script src="js/unlock-philadelphia.js"></script>
					<script>
						(function(i, s, o, g, r, a, m) {
							i['GoogleAnalyticsObject'] = r;
							i[r] = i[r] ||
							function() {
								(i[r].q = i[r].q || []).push(arguments)
							}, i[r].l = 1 * new Date();
							a = s.createElement(o), m = s.getElementsByTagName(o)[0];
							a.async = 1;
							a.src = g;
							m.parentNode.insertBefore(a, m)
						})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

						ga('create', 'UA-32865952-5', 'unlockphilly.com');
						ga('send', 'pageview');

					</script>
	</body>
</html>